<!DOCTYPE html>
<html>
<head>
  <title>Cartbee</title>
  <%= stylesheet_link_tag    "cartbee/application", media: "all" %>
  <%= javascript_include_tag "cartbee/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
